-- MySQL dump 10.13  Distrib 8.0.45, for Win64 (x86_64)
--
-- Host: localhost    Database: multi_sport_selection
-- ------------------------------------------------------
-- Server version	8.0.45

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `fitness_record`
--

DROP TABLE IF EXISTS `fitness_record`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `fitness_record` (
  `record_id` int NOT NULL AUTO_INCREMENT,
  `player_id` int DEFAULT NULL,
  `stamina_score` int NOT NULL,
  `speed_score` int NOT NULL,
  `injury_status` tinyint(1) NOT NULL DEFAULT '0',
  `test_date` date NOT NULL,
  PRIMARY KEY (`record_id`),
  KEY `player_id` (`player_id`),
  CONSTRAINT `fitness_record_ibfk_1` FOREIGN KEY (`player_id`) REFERENCES `player` (`player_id`)
) ENGINE=InnoDB AUTO_INCREMENT=361 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fitness_record`
--

LOCK TABLES `fitness_record` WRITE;
/*!40000 ALTER TABLE `fitness_record` DISABLE KEYS */;
/*!40000 ALTER TABLE `fitness_record` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `match_details`
--

DROP TABLE IF EXISTS `match_details`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `match_details` (
  `match_id` int NOT NULL AUTO_INCREMENT,
  `sport_id` int DEFAULT NULL,
  `match_date` date NOT NULL,
  `event_name` varchar(150) NOT NULL,
  PRIMARY KEY (`match_id`),
  KEY `sport_id` (`sport_id`),
  CONSTRAINT `match_details_ibfk_1` FOREIGN KEY (`sport_id`) REFERENCES `sport` (`sport_id`)
) ENGINE=InnoDB AUTO_INCREMENT=46 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `match_details`
--

LOCK TABLES `match_details` WRITE;
/*!40000 ALTER TABLE `match_details` DISABLE KEYS */;
/*!40000 ALTER TABLE `match_details` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `player`
--

DROP TABLE IF EXISTS `player`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `player` (
  `player_id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `age` int NOT NULL,
  `team_id` int DEFAULT NULL,
  `nationality` varchar(50) DEFAULT 'International',
  `height` int DEFAULT NULL,
  `weight` int DEFAULT NULL,
  `bio` text,
  PRIMARY KEY (`player_id`),
  KEY `team_id` (`team_id`),
  CONSTRAINT `player_ibfk_1` FOREIGN KEY (`team_id`) REFERENCES `team` (`team_id`)
) ENGINE=InnoDB AUTO_INCREMENT=361 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `player`
--

LOCK TABLES `player` WRITE;
/*!40000 ALTER TABLE `player` DISABLE KEYS */;
/*!40000 ALTER TABLE `player` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `selection`
--

DROP TABLE IF EXISTS `selection`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `selection` (
  `player_id` int NOT NULL,
  `match_id` int NOT NULL,
  `selection_status` enum('Selected','Not Selected','Pending') DEFAULT 'Pending',
  PRIMARY KEY (`player_id`,`match_id`),
  KEY `match_id` (`match_id`),
  CONSTRAINT `selection_ibfk_1` FOREIGN KEY (`player_id`) REFERENCES `player` (`player_id`),
  CONSTRAINT `selection_ibfk_2` FOREIGN KEY (`match_id`) REFERENCES `match_details` (`match_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `selection`
--

LOCK TABLES `selection` WRITE;
/*!40000 ALTER TABLE `selection` DISABLE KEYS */;
/*!40000 ALTER TABLE `selection` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sport`
--

DROP TABLE IF EXISTS `sport`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sport` (
  `sport_id` int NOT NULL AUTO_INCREMENT,
  `sport_name` varchar(50) NOT NULL,
  PRIMARY KEY (`sport_id`),
  UNIQUE KEY `sport_name` (`sport_name`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sport`
--

LOCK TABLES `sport` WRITE;
/*!40000 ALTER TABLE `sport` DISABLE KEYS */;
INSERT INTO `sport` VALUES (3,'Badminton'),(5,'Basketball'),(1,'Cricket'),(6,'F1'),(2,'Football'),(8,'Hockey'),(7,'MotoGP'),(9,'Swimming'),(4,'Tennis');
/*!40000 ALTER TABLE `sport` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `stats_badminton`
--

DROP TABLE IF EXISTS `stats_badminton`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `stats_badminton` (
  `player_id` int NOT NULL,
  `match_id` int NOT NULL,
  `sets_won` int DEFAULT '0',
  `sets_lost` int DEFAULT '0',
  `total_points_won` int DEFAULT '0',
  PRIMARY KEY (`player_id`,`match_id`),
  KEY `match_id` (`match_id`),
  CONSTRAINT `stats_badminton_ibfk_1` FOREIGN KEY (`player_id`) REFERENCES `player` (`player_id`),
  CONSTRAINT `stats_badminton_ibfk_2` FOREIGN KEY (`match_id`) REFERENCES `match_details` (`match_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `stats_badminton`
--

LOCK TABLES `stats_badminton` WRITE;
/*!40000 ALTER TABLE `stats_badminton` DISABLE KEYS */;
/*!40000 ALTER TABLE `stats_badminton` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `stats_basketball`
--

DROP TABLE IF EXISTS `stats_basketball`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `stats_basketball` (
  `player_id` int NOT NULL,
  `match_id` int NOT NULL,
  `points` int DEFAULT '0',
  `rebounds` int DEFAULT '0',
  `assists` int DEFAULT '0',
  `steals` int DEFAULT '0',
  `blocks` int DEFAULT '0',
  PRIMARY KEY (`player_id`,`match_id`),
  KEY `match_id` (`match_id`),
  CONSTRAINT `stats_basketball_ibfk_1` FOREIGN KEY (`player_id`) REFERENCES `player` (`player_id`),
  CONSTRAINT `stats_basketball_ibfk_2` FOREIGN KEY (`match_id`) REFERENCES `match_details` (`match_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `stats_basketball`
--

LOCK TABLES `stats_basketball` WRITE;
/*!40000 ALTER TABLE `stats_basketball` DISABLE KEYS */;
/*!40000 ALTER TABLE `stats_basketball` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `stats_cricket`
--

DROP TABLE IF EXISTS `stats_cricket`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `stats_cricket` (
  `player_id` int NOT NULL,
  `match_id` int NOT NULL,
  `runs_scored` int DEFAULT '0',
  `wickets_taken` int DEFAULT '0',
  `catches` int DEFAULT '0',
  `balls_faced` int DEFAULT '0',
  PRIMARY KEY (`player_id`,`match_id`),
  KEY `match_id` (`match_id`),
  CONSTRAINT `stats_cricket_ibfk_1` FOREIGN KEY (`player_id`) REFERENCES `player` (`player_id`),
  CONSTRAINT `stats_cricket_ibfk_2` FOREIGN KEY (`match_id`) REFERENCES `match_details` (`match_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `stats_cricket`
--

LOCK TABLES `stats_cricket` WRITE;
/*!40000 ALTER TABLE `stats_cricket` DISABLE KEYS */;
/*!40000 ALTER TABLE `stats_cricket` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `stats_f1`
--

DROP TABLE IF EXISTS `stats_f1`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `stats_f1` (
  `player_id` int NOT NULL,
  `match_id` int NOT NULL,
  `grid_position` int DEFAULT NULL,
  `finish_position` int DEFAULT NULL,
  `fastest_lap` tinyint(1) DEFAULT '0',
  `points_earned` int DEFAULT '0',
  PRIMARY KEY (`player_id`,`match_id`),
  KEY `match_id` (`match_id`),
  CONSTRAINT `stats_f1_ibfk_1` FOREIGN KEY (`player_id`) REFERENCES `player` (`player_id`),
  CONSTRAINT `stats_f1_ibfk_2` FOREIGN KEY (`match_id`) REFERENCES `match_details` (`match_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `stats_f1`
--

LOCK TABLES `stats_f1` WRITE;
/*!40000 ALTER TABLE `stats_f1` DISABLE KEYS */;
/*!40000 ALTER TABLE `stats_f1` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `stats_football`
--

DROP TABLE IF EXISTS `stats_football`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `stats_football` (
  `player_id` int NOT NULL,
  `match_id` int NOT NULL,
  `goals` int DEFAULT '0',
  `assists` int DEFAULT '0',
  `yellow_cards` int DEFAULT '0',
  `red_cards` int DEFAULT '0',
  `minutes_played` int DEFAULT '0',
  PRIMARY KEY (`player_id`,`match_id`),
  KEY `match_id` (`match_id`),
  CONSTRAINT `stats_football_ibfk_1` FOREIGN KEY (`player_id`) REFERENCES `player` (`player_id`),
  CONSTRAINT `stats_football_ibfk_2` FOREIGN KEY (`match_id`) REFERENCES `match_details` (`match_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `stats_football`
--

LOCK TABLES `stats_football` WRITE;
/*!40000 ALTER TABLE `stats_football` DISABLE KEYS */;
/*!40000 ALTER TABLE `stats_football` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `stats_hockey`
--

DROP TABLE IF EXISTS `stats_hockey`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `stats_hockey` (
  `player_id` int NOT NULL,
  `match_id` int NOT NULL,
  `goals` int DEFAULT '0',
  `assists` int DEFAULT '0',
  `penalty_minutes` int DEFAULT '0',
  `shots_on_goal` int DEFAULT '0',
  PRIMARY KEY (`player_id`,`match_id`),
  KEY `match_id` (`match_id`),
  CONSTRAINT `stats_hockey_ibfk_1` FOREIGN KEY (`player_id`) REFERENCES `player` (`player_id`),
  CONSTRAINT `stats_hockey_ibfk_2` FOREIGN KEY (`match_id`) REFERENCES `match_details` (`match_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `stats_hockey`
--

LOCK TABLES `stats_hockey` WRITE;
/*!40000 ALTER TABLE `stats_hockey` DISABLE KEYS */;
/*!40000 ALTER TABLE `stats_hockey` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `stats_motogp`
--

DROP TABLE IF EXISTS `stats_motogp`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `stats_motogp` (
  `player_id` int NOT NULL,
  `match_id` int NOT NULL,
  `grid_position` int DEFAULT NULL,
  `finish_position` int DEFAULT NULL,
  `crashes` int DEFAULT '0',
  `points_earned` int DEFAULT '0',
  PRIMARY KEY (`player_id`,`match_id`),
  KEY `match_id` (`match_id`),
  CONSTRAINT `stats_motogp_ibfk_1` FOREIGN KEY (`player_id`) REFERENCES `player` (`player_id`),
  CONSTRAINT `stats_motogp_ibfk_2` FOREIGN KEY (`match_id`) REFERENCES `match_details` (`match_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `stats_motogp`
--

LOCK TABLES `stats_motogp` WRITE;
/*!40000 ALTER TABLE `stats_motogp` DISABLE KEYS */;
/*!40000 ALTER TABLE `stats_motogp` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `stats_swimming`
--

DROP TABLE IF EXISTS `stats_swimming`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `stats_swimming` (
  `player_id` int NOT NULL,
  `match_id` int NOT NULL,
  `stroke_type` varchar(50) DEFAULT NULL,
  `distance_meters` int DEFAULT NULL,
  `time_seconds` decimal(5,2) DEFAULT NULL,
  `finish_position` int DEFAULT NULL,
  PRIMARY KEY (`player_id`,`match_id`),
  KEY `match_id` (`match_id`),
  CONSTRAINT `stats_swimming_ibfk_1` FOREIGN KEY (`player_id`) REFERENCES `player` (`player_id`),
  CONSTRAINT `stats_swimming_ibfk_2` FOREIGN KEY (`match_id`) REFERENCES `match_details` (`match_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `stats_swimming`
--

LOCK TABLES `stats_swimming` WRITE;
/*!40000 ALTER TABLE `stats_swimming` DISABLE KEYS */;
/*!40000 ALTER TABLE `stats_swimming` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `stats_tennis`
--

DROP TABLE IF EXISTS `stats_tennis`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `stats_tennis` (
  `player_id` int NOT NULL,
  `match_id` int NOT NULL,
  `sets_won` int DEFAULT '0',
  `aces` int DEFAULT '0',
  `double_faults` int DEFAULT '0',
  `unforced_errors` int DEFAULT '0',
  PRIMARY KEY (`player_id`,`match_id`),
  KEY `match_id` (`match_id`),
  CONSTRAINT `stats_tennis_ibfk_1` FOREIGN KEY (`player_id`) REFERENCES `player` (`player_id`),
  CONSTRAINT `stats_tennis_ibfk_2` FOREIGN KEY (`match_id`) REFERENCES `match_details` (`match_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `stats_tennis`
--

LOCK TABLES `stats_tennis` WRITE;
/*!40000 ALTER TABLE `stats_tennis` DISABLE KEYS */;
/*!40000 ALTER TABLE `stats_tennis` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `team`
--

DROP TABLE IF EXISTS `team`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `team` (
  `team_id` int NOT NULL AUTO_INCREMENT,
  `sport_id` int DEFAULT NULL,
  `team_name` varchar(100) NOT NULL,
  PRIMARY KEY (`team_id`),
  KEY `sport_id` (`sport_id`),
  CONSTRAINT `team_ibfk_1` FOREIGN KEY (`sport_id`) REFERENCES `sport` (`sport_id`)
) ENGINE=InnoDB AUTO_INCREMENT=37 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `team`
--

LOCK TABLES `team` WRITE;
/*!40000 ALTER TABLE `team` DISABLE KEYS */;
/*!40000 ALTER TABLE `team` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-05-04  1:00:57
